fieldset {
  label {
    display: block;
  }
  .input-wrapper {
    margin: 1em 0;
  }
  border: none;
}

input {
  &[type="text"],
  &[type="password"],
  &[type="submit"] {
    padding: 0.5em;
    border-radius: 0.5em;
    width: 95%;
    max-width: 500px;
  }
  &[type="submit"] {
    margin: 1em 0;
    height: 3em;
    max-width: 300px;
    font-size: 1.3em;
    &:hover {
      background-color: var(--blue);
    }
  }
}

button {
  font-size: 1rem !important;
  line-height: 1rem;
  letter-spacing: 1.2px;
  height: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  border: none;
  &.action-button {
    transition: all 0.2s linear;
    background: #f5a623;
    color: #282828;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 0;
    min-width: 0 !important;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: calc(3rem + 13px) !important;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    &:hover {
      background: #cc891d;
    }
  }
}
